.avatar {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(9, 75, 175, 0.589);
  padding: 30%;
  margin: 2% 19%;
  margin-bottom: 1em;
  border-radius: 50%;
}
.avatar-l {
  position: absolute;
  width: 3%;
  height: 3%;
  top: 18%;
  left: 42%;
  font-size: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(253, 253, 253);
}
.UserProfile {
  position: absolute;
  color: rgb(18, 20, 44);
  width: 80%;
  height: 80%;
  left: 10%;
  margin: 0px 10px;
  padding: 5%;
  background-color: rgba(9, 75, 175, 0.356);
  border-radius: 15px;
}
.info {
  display: flex;
  margin: 0px -30px;
}
.info-data {
  padding: 7%;
}
.username {
  position: absolute;
  background-color: white;
  padding: 3% 20%;
  left: 0%;
  border-radius: 0px 70px 70px 0px;
}
.bground {
  position: fixed;
  background-color: rgba(89, 91, 110, 0.692);
  padding: 30%;
  border-radius: 50%;
}
